@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* shared styles */


/* header related styles  */
header {
    background: rgba(255, 144, 14, 0.1);
}

/* nav styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 50px auto;
}

.nav-link {
    display: flex;
    gap: 18px;
}

.nav-title {
    color: rgb(19, 19, 19);
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
}

.nav-link a {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;

}
.nav-link a:hover{
    background-color: orange;
}

.nav-link li {
    list-style: none;
}

/* banner styles start here */
.banner-content {
    max-width: 882px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.banner-title {
    color: rgb(19, 19, 19);
    font-size: 64px;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0%;
}

.btn-primary {
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    background: rgb(255, 144, 14);
    padding: 20px 25px;
    border: none;
}

.banner-image {
    width: 100%;
}



/* media queries  */
@media screen and (max-width: 576px ) {
    .navbar {
        flex-direction: column;
    }
    
}